<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1080158715019-1s2mktto597ojnmg2t8208cjit7dhdat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080158715019-1s2mktto597ojnmg2t8208cjit7dhdat</string>
	<key>API_KEY</key>
	<string>AIzaSyB3KikdMSpaLQ8pu3kLLQ3v7cn1qLhBzxc</string>
	<key>GCM_SENDER_ID</key>
	<string>1080158715019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>universityofpangasinan.Daily-Workout</string>
	<key>PROJECT_ID</key>
	<string>databaseforproject</string>
	<key>STORAGE_BUCKET</key>
	<string>databaseforproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080158715019:ios:165010d1774b990c</string>
	<key>DATABASE_URL</key>
	<string>https://databaseforproject.firebaseio.com</string>
</dict>
</plist>